# Binaries
racket-bin
larceny-bin
compile-stale
*.pyc

# Test and measurment directories, files and output
test
profiling/*
!profiling/sol-header
!profiling/gen-header
*.log
gen.pdf
gen.png
sol.pdf
sol.png

# Documentation
doc/*.pdf
doc/presentation.tex
doc/tmp
