# Binaries and temporary files
racket-bin
larceny-bin
*.pyc
**/*.scm~
*.class
*.out

# Test and measurment directories, files and output
test
profiling/*
!profiling/sol-header
!profiling/gen-header
*.log
*.png
.ipynb_checkpoints/
